In [1]:
import pymongo

In [2]:
import pdmongo as pdm
import pandas as pd

In [17]:
df = pdm.read_mongo("business", [], "mongodb://localhost:27017/yelp")

In [18]:
df.head(10)

,_id,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,605ba08cbf4286a93a81ab52,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511907,-122.613693,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Antiques, Fashion, Used, Vintage & Consignment...","{'Thursday': '11:0-18:0', 'Friday': '11:0-18:0..."
1,605ba08cbf4286a93a81ab53,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Salad, Soup, Sandwiches, Delis, Restaurants, C...","{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ..."
2,605ba08cbf4286a93a81ab54,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': 'u...","Gastropubs, Food, Beer Gardens, Restaurants, B...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
3,605ba08cbf4286a93a81ab55,oaepsyvc0J17qwi8cfrOWg,Great Clips,2566 Enterprise Rd,Orange City,FL,32763,28.914482,-81.295979,3.0,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Beauty & Spas, Hair Salons",None
4,605ba08cbf4286a93a81ab56,PE9uqAjdw0E4-8mjGl3wVA,Crossfit Terminus,1046 Memorial Dr SE,Atlanta,GA,30316,33.747027,-84.353424,4.0,14,1,"{'GoodForKids': 'False', 'BusinessParking': '{...","Gyms, Active Life, Interval Training Gyms, Fit...","{'Monday': '16:0-19:0', 'Tuesday': '16:0-19:0'..."
5,605ba08cbf4286a93a81ab57,D4JtQNTI4X3KcbzacDJsMw,Bob Likes Thai Food,3755 Main St,Vancouver,BC,V5V,49.251342,-123.101333,3.5,169,1,"{'GoodForKids': 'True', 'Alcohol': 'u'none'', ...","Restaurants, Thai","{'Monday': '17:0-21:0', 'Tuesday': '17:0-21:0'..."
6,605ba08cbf4286a93a81ab58,ufCxltuh56FF4-ZFZ6cVhg,Sister Honey's,247 E Michigan St,Orlando,FL,32806,28.513265,-81.374707,4.5,135,1,"{'BusinessParking': '{'garage': False, 'street...","Restaurants, American (New), Bakeries, Dessert...","{'Tuesday': '11:0-18:0', 'Wednesday': '11:0-18..."
7,605ba08cbf4286a93a81ab59,hCABMnKtwo4Y9alQDxh2kw,Star Kreations Salon and Spa,"124 Newbury St, Unit C",Peabody,MA,01960,42.534248,-70.990948,4.0,8,1,"{'RestaurantsPriceRange2': '2', 'BusinessParki...","Wigs, Hair Extensions, Hair Salons, Blow Dry/O...","{'Monday': '10:0-15:0', 'Tuesday': '9:0-18:0',..."
8,605ba08cbf4286a93a81ab5a,jFYIsSb7r1QeESVUnXPHBw,Boxwood Biscuit,740 S High St,Columbus,OH,43206,39.947007,-82.997471,4.5,11,1,None,"Breakfast & Brunch, Restaurants","{'Saturday': '8:0-14:0', 'Sunday': '8:0-14:0'}"
9,605ba08cbf4286a93a81ab5b,HPA_qyMEddpAEtFof02ixg,Mr G's Pizza & Subs,474 Lowell St,Peabody,MA,01960,42.541155,-70.973438,4.0,39,1,"{'RestaurantsGoodForGroups': 'True', 'HasTV': ...","Food, Pizza, Restaurants","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."

In [27]:
df.shape

(160585, 15)

In [25]:
import numpy as np
grp1 = df.groupby('state')
  
grp1.aggregate(np.sum)

           latitude     longitude     stars  review_count  is_open
state
ABE    4.929065e+01 -1.231338e+02       4.5            14        1
AL     3.035875e+01 -9.773811e+01       2.5            11        0
AZ     8.793721e+01 -1.936368e+02       8.0            54        1
BC     8.519635e+05 -2.128860e+06   60760.5        602293    12734
CA     4.811775e+02 -1.318868e+03      55.0           218       12
CO     1.279656e+05 -3.365410e+05   12071.5        137788     2431
DC     4.926302e+01 -1.231107e+02       5.0            10        1
DE     4.015793e+01 -8.313360e+01       4.5             7        1
FL     6.249496e+05 -1.782768e+06   77865.0       1094896    17916
GA     6.116844e+05 -1.526279e+06   63456.5       1112636    13824
HI     4.550511e+01 -1.226750e+02       4.5             7        1
IL     2.854601e+01 -8.133310e+01       4.0            84        0
KS     3.873712e+01 -9.821631e+01       2.0            28        1
KY     3.732172e+01 -8.492709e+01       2.0            11        1
MA     1.525756e+06 -2.560239e+06  130299.0       2013397    27353
ME     4.258248e+01 -7.111308e+01       3.5            11        1
MI     3.388134e+01 -8.437860e+01       3.5             6        1
MN     3.020213e+01 -9.766883e+01       3.5             6        1
NC     2.851902e+01 -8.151069e+01       2.5            31        1
NH     1.702192e+02 -2.844742e+02      12.0            45        4
NM     3.527436e+01 -1.067368e+02       3.5             5        1
NY     8.320342e+01 -1.447343e+02      10.0            12        2
OH     4.506382e+05 -9.343741e+05   39775.0        414321     9072
OK     2.861338e+01 -8.141880e+01       2.5             6        1
ON     9.845496e+01 -2.458930e+02       7.5            12        2
OR     1.145430e+06 -3.088321e+06   97273.0       1399238    18806
TX     7.417867e+05 -2.393845e+06   94177.0       1454367    18500
VA     9.129054e+01 -1.941934e+02       5.5           125        2
WA     1.424542e+05 -3.826184e+05   11423.5        115072     2575
WI     4.235866e+01 -7.105507e+01       3.5             7        1
WY     4.002246e+01 -1.052609e+02       1.5             9        1

In [5]:
df_review = pdm.read_mongo("review", [], "mongodb://localhost:27017/yelp")

In [6]:
df_review.head()

,_id,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,605ba0f1d6b0c7d7a785875b,9vqwvFCBG3FBiHGmOHMmiA,XGkAG92TQ3MQUKGX9sLUhw,DbXHNl890xSXNiyRczLWAg,5.0,0,0,0,Probably one of the better breakfast sandwiche...,2017-12-02 18:16:13
1,605ba0f1d6b0c7d7a785875c,lWC-xP3rd6obsecCYsGZRg,ak0TdVmGKo4pwqdJSTLwWw,buF9druCkbuXLX526sGELQ,4.0,3,1,1,Apparently Prides Osteria had a rough summer a...,2014-10-11 03:34:02
2,605ba0f1d6b0c7d7a785875d,KKVFopqzcVfcubIBxmIjVA,99RsBrARhhx60UnAC4yDoA,EEHhKSxUvJkoPSzeGKkpVg,5.0,0,0,0,I work in the Pru and this is the most afforda...,2014-05-07 18:10:21
3,605ba0f1d6b0c7d7a785875e,2l_TDrQ7p-5tANOyiOlkLQ,LWUnzwK0ILquLLZcHHE1Mw,mD-A9KOWADXvfrZfwDs-jw,4.0,1,0,0,I am definitely a fan of Sports Authority. Th...,2012-05-28 15:00:47
4,605ba0f1d6b0c7d7a785875f,FdoBFTjXXMn4hVnJ59EtiQ,eLAYHxHUutiXswy-CfeiUw,WQFn1A7-UAA4JT5YWiop_w,1.0,0,0,0,"They NEVER seem to get our \norder correct, se...",2017-09-08 23:26:10

In [26]:
# gapminder[gapminder['year']==2002]
# filtered_df = df.query('b>4')
df_nc = df.query('state == "NC"')
df_nc.head()

,_id,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
13087,605ba08cbf4286a93a81de71,uscXWN2UzppWs3l-g3hVmg,Traveling Mailbox,,Sanford,NC,27330,28.51902,-81.510689,2.5,31,1,{'BusinessAcceptsCreditCards': 'True'},"Professional Services, Local Services, Mailbox...",None

In [28]:
df_merged = pd.merge(df, df_review, how="left", on="business_id")
print(len(df))

160585

In [29]:
df_merged.head()

,_id_x,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,...,hours,_id_y,review_id,user_id,stars_y,useful,funny,cool,text,date
0,605ba08cbf4286a93a81ab52,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511907,-122.613693,4.5,...,"{'Thursday': '11:0-18:0', 'Friday': '11:0-18:0...",605ba0f1d6b0c7d7a78599c6,xYcbW9MPyLdy8fwbIoAyAQ,i9F35UmYkvBirC2Yl9fuqg,4.0,1,0,0,Quaint little store with tons of amazing items...,2016-08-25 16:52:19
1,605ba08cbf4286a93a81ab52,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511907,-122.613693,4.5,...,"{'Thursday': '11:0-18:0', 'Friday': '11:0-18:0...",605ba0f2d6b0c7d7a7864c0e,ktrlT7JkK9QwlLdpF-sTVA,WADswAe3hbMWM0uUxb_rrQ,5.0,4,0,1,Gasp! AMAZING!\nThey took the idea of restorin...,2014-10-12 16:50:27
2,605ba08cbf4286a93a81ab52,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511907,-122.613693,4.5,...,"{'Thursday': '11:0-18:0', 'Friday': '11:0-18:0...",605ba0f3d6b0c7d7a787177a,9p-z0pVIkXPnoVncOKTAtg,SQ87CzgSrsY9H5ankTA6UQ,4.0,0,0,0,You know that shop that doesn't have alot but ...,2015-01-21 04:38:44
3,605ba08cbf4286a93a81ab52,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511907,-122.613693,4.5,...,"{'Thursday': '11:0-18:0', 'Friday': '11:0-18:0...",605ba0f6d6b0c7d7a7891f36,RjktBj4W_T078NK60kaUVw,JUW2nLyVUxc_lGVFxmj-VQ,5.0,1,0,0,I brought in a client and found several pieces...,2015-10-26 20:20:49
4,605ba08cbf4286a93a81ab52,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511907,-122.613693,4.5,...,"{'Thursday': '11:0-18:0', 'Friday': '11:0-18:0...",605ba0f7d6b0c7d7a789fc6b,LwPbnhZBTB37j00ivD_WKw,nkNAiBFCe9se6wyRZWkZYA,5.0,0,0,0,just bought a piece of furniture here. I love ...,2015-06-04 02:27:58

In [1]:
"""
Script:     01-Preprocess-Yelp-Data.py
Purpose:    (a) Filter Yelp Academic Dataset to Only Restaurants Reviews in Charlotte NC, Madison WI, and Pittsburgh PA
            (b) Break review data into component sentences so 1 record = 1 sentence
Input:      Business and Review MongoDB Collections 
            (see data/README.md for more info on how to load the raw Yelp data into Mongo)
Output:     data/yelp/dataframes/review_sentences_madison.pkl
            data/yelp/dataframes/review_sentences_pittsburgh.pkl
            data/yelp/dataframes/review_sentences_charlotte.pkl (Pandas Dataframes)
"""

import json
from collections import defaultdict

import pandas as pd
from nltk.tokenize import sent_tokenize

from pymongo import MongoClient

In [2]:
#Boot Up Mongo DB and Read in Collections
client = MongoClient()

In [3]:
business = client.yelp.business
review =  client.yelp.review

In [5]:
"""
Function filter Yelp businesses to only RESTUARANTS in a given city (e.g. Charlotte, NC)
location:       Location of Yelp Businessed pulled from MongoDB
query:          Mongo query to filter all Yelp businesses to ONLY restauarants in a given city
RETURNS:        List of Business IDs for restaurants in a given city (as specified by input mongo_query)
"""
def get_business_ids(query):
    print("Filtering Businesses from: ", location)
    business_ids = []
    cursor = business.find(mongo_query)

    for each in cursor:
        business_ids.append(each["business_id"])

    return business_ids

In [6]:
"""
Function to break each review into it's compotnent sentences
location:       Location of Yelp Businessed pulled from MongoDB
business_ids:   List of Yelp ID for restaurants in given city pulled from MongoDB
RETURNS:        Pandas DF of restaurant reviews for given location, where 1 row = 1 sentence
"""
def create_sentence_df(location, business_ids):
    print("Creating Cursor for ", location, "...")
    cursor = review.find({"business_id": {"$in": business_ids}})

    #Split Each Review into it's component sentences with one row = one review sentence
    print("Spliting Reviews into Sentences for ", location, "...")

    df = []
    for review in cursor:
        sentences = sent_tokenize(review["text"])

        for sentence in sentences:
            row=defaultdict(str)

            row["user_id"] = review["user_id"]  #User ID
            row["review_id"] = review["_id"]    #Review ID (Object ID from MongoDB)
            row["location"] = location          #Location (from function input)
            row["sentence"] = sentence

            df.append(row)

    print("DF Created for: ", location)
    return pd.DataFrame(df)

In [ ]:
##Run Above Function to Filter & Clean Yelp Review Data for Analysis
##This JSON file contains a list of all Yelp business categories considered as "restaurants for this analysis."
##These categories were derived by hand from a list of all possible business categories in the raw Yelp data
restaurants = json.loads(open("data/yelp/restaurants.json","r+").read())["food_places"]

In [ ]:
##Filter to Resturant Reviews for [city] and split out into component sentences
madison_business_ids = get_business_ids({"state":"WI", "categories": {"$in": restaurants}})
pittsburg_business_ids = get_business_ids({"state": "PA", "categories": {"$in": restaurants}})
charlotte_busines_ids = get_business_ids({"state": {"$in": ["NC","SC"]}, "categories": {"$in": restaurants}})

In [ ]:
##Split Reviews out into component sentences
madison = create_sentence_df("Madison, WI", madison_business_ids)                       
pittsburg = create_sentence_df("Pittsburg, PA", pittsburg_business_ids)                 
charlotte = create_sentence_df("Charlotte, NC", charlotte_busines_ids)

In [1]:
#Pickle Dataframes for Upload onto AWS for Further Analysis
madison.to_pickle("data/yelp/dataframes/review_sentences_madison.pkl")
pittsburg.to_pickle("data/yelp/dataframes/review_sentences_pittsburgh.pkl")
charlotte.to_pickle("data/yelp/dataframes/review_sentences_charlotte.pkl")

NameError: name 'madison' is not defined